/*DEFINICI칍N DE VARIABLES*/
:root{
  --color-principal: #FFFFFF;
  --color-secondary: #04B4E0;
  
  --color-background: #F2F7F9;
  --color-transparent: transparent;

  --color-icons: #B5B6B7;
  --color-titles: #222222;
  --color-subtitles: #888;
  --color-text: #555;

}

/*ESTILOS GENERALES*/
html{
  font-size: 10px;
  overflow-y: hidden;
}

body{
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4 , h5, h6{
  color: var(--color-titles);
}
/*IMAGEN DE FONDO*/
body{
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -150px;
}
/*ESTRUCTURA PRINCIPAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #0E336A;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
  text-align: center;
  
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 8px 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.menu ul li a:hover, .menu ul li a.active {
  background-color: #49B6E9;
  color: #3A3A3A;
  transition: all 300ms ease-in-out;

}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.top-bar {
  background-color: #233567;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  box-shadow: inset 10px 0 10px -5px rgba(0, 0, 0, 0.3);

}

.user-info {
  margin-right: 20px;
}

.user-button {
  margin-top: 6px;
  background-color: transparent;
  border: 1px solid #57a6ff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-button:hover {
  background-color: #57a6ff;
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 12px;
}

.notifications {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.notification-bell {
  position: relative;
  margin-right: 16px;
  display: flex;
}

.noti{
  margin-right: 16px;
}
.notification-count {
  font-size: 16px;
  color: red;
}
.container3 {
  width: 100%;
  margin: 0 auto;
  padding: 22px 34px;
}

h2 {
  text-align: left;
  color: #1F4B79;
  font-size: 28px;
  margin-right: auto;
}
.nava {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar2 {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.progress-container {
  text-align: left;
  margin-bottom: 125px;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 48px;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 90px;
  background: #ddd;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  background: #28a745;
  border-radius: 100px;
  position: absolute;
  animation: fillProgress 2s forwards ease-in-out;
}

.progress-text {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.circles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

.circle {
  width: 120px;
  height: 120px;
  position: relative;
}

.circle svg {
  transform: rotate(-90deg);
}

.circle circle {
  transition: stroke-dashoffset 2s ease-in-out;
  stroke-dasharray: 314; /* Circunferencia del c칤rculo */
  stroke-dashoffset: 314; /* Inicialmente vac칤o */
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #1F4B79;
  font-weight: bold;
}

.circle-label {
  margin-top: 10px;
  font-size: 20px;
  color: #1F4B79;
  font-weight: bold;
}

#employeeTable {
  width: 100%;
  border-collapse: collapse;
}

#employeeTable th, #employeeTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background: white;
}

#employeeTable th {
  background-color: #e7eaf3;
  cursor: pointer;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actions{
  height: 50px;
}
.action-btn{
  background-color: #ffffff;
  border: 0px;
  margin-top: 2px;
  margin-bottom: 8px;
  margin-right: 10px;
  align-items: left;
  height: auto;

}

.pagination-button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #0056b3;
}

.pagination-button:hover {
  background-color: #0056b3;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: right;
  align-items: center;
}
.modal-content {
  background-color: #f4f6f9;
  margin: 0;
  padding: 20px;
  max-width: 800px;
  text-align: left;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}


.close {
  position: absolute;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.form-header {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}
.form-header2 {
  
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.btn-cancel, .btn-save {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 16px;
}
.btn-cancel, .btn-cancel2 {
  background-color: #d3d3d3;
  
}

.btn-cancel2{
  margin-right: 25px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.btn-save {
  background-color: #007bff;
  color: white;
}
.form-group {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid #ccc;
  font-size: 16px;
}

#crear{
  width: 129px;
  height: 38px;
  padding: 8px 12px;
  background-color: #35B167;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
} 
  #buscar{
   
    height: 38px;
    padding: 8px 15px;
    background-color: #49B6E9;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    
}    
#search{
  background-color: #EDEDED;
  outline: none; /* 游댳 Elimina el borde negro al hacer clic */

}


.top-bar2{
  margin-top: 16px;
  background: #fff;
  border-radius: 10px;
  padding: 16px;
}
.filter {
  width: 44px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #EDEDED;
}

/* Ocultar el men칰 por defecto */
.hidden {
  display: none;
}

/* Mostrar el men칰 cuando se hace hover sobre el contenedor */
.user-info:hover .dropdown-menu {
  display: block;
}

/* Estilo del men칰 desplegable */
.dropdown-menu {
  display: none;
  position: absolute; /* Para que se muestre encima del contenido */
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  min-width: 180px; /* Ancho m칤nimo */
  border-radius: 10px;
}

.dropdown-menu a {
  display: flex;
  align-items: center; /* Alinea icono y texto */
  gap: 8px; /* Espaciado entre icono y texto */
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  white-space: nowrap; /* Evita que el texto salte de l칤nea */
}

.dropdown-menu a:hover {
  background-color: #f1f1f1; /* Fondo de los enlaces cuando se pasa el rat칩n */
}

.user-button:hover {
  background-color: #0056b3;
}
.none{
  display: block;
  height: 6px;
}


                        .modal-content2 {
                          background-color: #f4f6f9;
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          padding: 20px;

                          width: 40%;
                          text-align: center;
                          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                          background-color: #f5f5f5;
                          border-radius: 10px;
                        }

                        .form-header2 {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            margin-bottom: 30px;
                            padding: 20px;
                            border-bottom: 1px solid #e0e0e0;
                        }

                        .modal-content2 p {
                            margin-bottom: 20px;
                            padding: 15px;
                            background: #f8f9fa;
                            border-radius: 8px;
                            transition: all 0.3s ease;
                        }

                        .modal-content2 p:hover {
                            transform: translateY(-2px);
                            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
                        }

                        .modal-content2 strong {
                            font-weight: bold;
                            color: #007bff;
                            margin-bottom: 5px;
                            display: inline-block;
                        }

                        .modal-content2 span {
                            font-size: 16px;
                            margin-left: 10px;
                        }

                        
/* Ajuste del bot칩n de editar */
.edit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.edit-btn:hover {
  background: #0056b3;
}

/* Modal QR */
.qr-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* Contenido del modal */
.qr-modal-content {
  background: white;
  padding: 20px;
  width: 462px;
  height: 485px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Bot칩n de cerrar */
.qr-modal-close {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

/* Imagen del QR */
.qr-modal-image {
  width: 260px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

/* Informaci칩n del QR */
.qr-modal-info {
  color: #FF5A5F;
  font-size: 14px;
  margin-top: 24px;
}

/* Toggle Switch */
.qr-toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 15px;
}

.qr-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.qr-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.qr-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .qr-slider {
  background-color: #28a745;
}

input:checked + .qr-slider:before {
  transform: translateX(26px);
}

/* Estilos para el dropdown de filtros */
.filter-dropdown {
  position: absolute;
    top: 220px;
    right: 50px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 250px;
}

/* Ocultar el dropdown cuando no se usa */
.hidden-filter {
  display: none;
}

/* Estilos internos del men칰 de filtros */
.filter-dropdown-menu {
  display: flex;
  flex-direction: column;
}

.filter-dropdown-label {
  margin-top: 10px;
  font-size: 14px;
}

.filter-dropdown-select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos del bot칩n para aplicar filtros */
.apply-filter-btn {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes fillProgress {
  from {
      width: 0;
  }
  to {
      width: 89%;
  }
}

@media (max-width: 1840px){
  .modal-content {
    margin-left: 250px;
    min-width: auto;
    width: 86.5%;
  }
}
@media (max-width: 600px) {
  .circles-container {
      flex-direction: column;
      align-items: center;
  }
  .circle {
      margin-bottom: 20px;
  }
}

